/*
para modificar los estilos del componente se deben usar las siguientes variables:
            --border-color:#33b1ff;
            --main-text-color:hsl(215deg 14% 90%);
            --secondary-text-color:hsl(215deg 14% 80%);
           --green-color:rgb(152, 202, 63);
            estos son los valores que tiene por defecto el componente
*/