:root{
    --main-color:rgb(152, 202, 63);
    --secondary-color:#121f3d;
    --alternative-blue:#33b1ff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    
}